.body {
  &__wrapper {
    padding-top: 150px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.positioning {
  padding-bottom: 100px;
}

.bodySectionPositioning {
  max-width: 600px;
  margin: 0 auto;
}

