.faq {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  width: 100%;
  &__title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
  }
}

.faqItem {
  flex: 0 0 150px;
  padding: 25px 45px;
  display: flex;
  width: 80%;
  gap: 0 15px;
  border-radius: 25px;
  -webkit-box-shadow: 0 33px 43px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 33px 43px -19px rgba(0,0,0,0.75);
  box-shadow: 0 33px 43px -19px rgba(0,0,0,0.75);
  &__number {
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 35px;
      text-align: center;
      font-weight: 700;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  &__text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  &__primary {
    background: #fabd4e;
    color: black;
    .faqItem__number {
      order: 2;
      &:before {
        content: '';
        margin-right: 45px;
        background: black;
        width: 1px;
        height: 100%;
      }
    }
  }
  &__secondary {
    background: black;
    color: #fabd4e;
    .faqItem__number {
      &:after {
        content: '';
        margin-left: 45px;
        background: white;
        width: 1px;
        height: 100%;
      }
    }
  }
  &__left {
    align-self: flex-start;
  }
  &__right {
    align-self: flex-end;
  }
}
