.button {
  font-weight: 500;
  border-radius: 30px;
  transition-duration: 0.2s;
  &__primary {
    background: #fabd4e;
    color: black;
    &:hover {
      background: #b2873a;
    }
  }
  &__secondary {
    background: #000000;
    color: #ffffff;
    &:hover {
      background: #313131;
    }
  }
  &__small {
    padding: 15px 30px;
  }
}
