.slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  &__item {
    position: absolute;
    width: 23%;
    height: 100%;
    transition: all 0.2s;
    left: 50%;
    transform: translateX(-50%);
  }
  &__itemSolo {
    width: 50%;
  }
  &__itemPrev {
    transform: translateX(-175%);
  }
  &__itemNext {
    transform: translateX(75%);
  }
  &__itemPrevOut {
    transform: translateX(-1750%);
  }
  &__itemNextOut {
    transform: translateX(750%);
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: absolute;
    border-radius: 50%;
    background: #fabd4e;
    transition-duration: 0.2s;
    &Small {
      font-size: 25px;
      height: 30px;
      width: 30px;
    }
    &Medium {
      font-size: 40px;
      height: 45px;
      width: 45px;
    }
    &Large {
      font-size: 55px;
      height: 60px;
      width: 60px;
    }
    &Left {
      left: 10px;
    }
    &Right {
      right: 10px;
    }
    &CloseLeft {
      left: 30px;
    }
    &CloseRight {
      right: 30px;
    }
    &FarLeft {
      left: 10px;
    }
    &FarRight {
      right: 10px;
    }
    &:hover {
      background: #b2873a;
    }
  }
  &__buttonLeftSolo {
    left: 30px;
  }
  &__buttonRightSolo {
    right: 30px;
  }
}




@media (max-width: 599px) {
  .slider {
    &__itemPrev {
      transform: translateX(-160%);
    }
    &__itemNext {
      transform: translateX(60%);
    }
    &__buttonLeft {
      left: 5px;
    }
    &__buttonRight {
      right: 5px;
    }
  }
}

