.slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  &__item {
    position: absolute;
    width: 23%;
    height: 100%;
    transition: all 0.2s;
    left: 50%;
    transform: translateX(-50%);
    background: #fabd4e;
    border-radius: 25px;
  }
  &__itemPrev {
    transform: translateX(-175%);
  }
  &__itemNext {
    transform: translateX(75%);
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fabd4e;
    transition-duration: 0.2s;
    &:hover {
      background: #b2873a;
    }
  }
  &__buttonLeft {
    left: 10px;
  }
  &__buttonRight {
    right: 10px;
  }
}




@media (max-width: 599px) {
  .slider {
    &__itemPrev {
      transform: translateX(-160%);
    }
    &__itemNext {
      transform: translateX(60%);
    }
    &__buttonLeft {
      left: 5px;
    }
    &__buttonRight {
      right: 5px;
    }
  }
}

